body {
    font-family: 'Urbanist', sans-serif;
}

header {
    background-color: #DCF2FF;
    padding: 20px 0;
}

h2{
    text-align: center;
    font-size: 40px;
    color: #ECBC3F;
    font-weight: bolder; 
}

p {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    line-height: 25px;
    margin-bottom: 20px;
}

p strong {
    font-weight: bold;
    color: #ECBC3F;
}

section {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 8%;
    box-sizing: border-box;
    text-align: center;
}

.container {
    display: flex;
	justify-content: space-around;
	align-items: center;

}

.container img {
    width: 30%;
}


nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #3F528D;
    font-size: 22px;
    text-transform: uppercase;
    transition: all 0.5s;
}

nav a:hover {
    color: #A74C3C;
}

.historia {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/centrohistorico.jpg);
    background-position: center;
    background-size: cover;
}

.jeronimo {
    width: 15%;
    text-align: center;
}

.gastronomia {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/gastronomia.jpg);
    background-position: center;
    background-size: cover;
}

.cultura {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/cultura.jpg);
    background-position: center;
    background-size: cover;
}

.cultura p:nth-child(5) {
   margin-bottom: 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #DCF2FF;
}

footer p {
    color: #A74C3C;
    font-size: 22px;
    margin-top: 20px;
}

