body {
    font-family: 'Urbanist', sans-serif;
}

header {
    background-color: #DCF2FF;
    padding: 20px 0;
}

.container {
    display: flex;
	justify-content: space-around;
	align-items: center;

}

.container img {
    width: 30%;
}


nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #3F528D;
    font-size: 22px;
    text-transform: uppercase;
    transition: all 0.5s;
}

nav a:hover {
    color: #A74C3C;
}



.historia h2{
    text-align: center;
    font-size: 30px;
    color: #ECBC3F;
    font-weight: bolder;
}



footer {
    text-align: center;
    padding: 20px 0;
    background-color: #DCF2FF;
}

footer p {
    color: #A74C3C;
    font-size: 22px;
    margin-top: 20px;
}